@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,


figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,


figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


#component-1{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #222533;
    justify-content: center;
    align-items: center;
    min-width: 1700px;
   
    
   
    
    
    
 

   
   
    
}
.component-1-margin{
  width: 61%;
  height: 60px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#fox-text{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 33px;
    letter-spacing: 2px;
    
    word-spacing: 6px;
    


}
#fox {
   
   
    display: flex;
    width: 180px;
    height: 49px;
    justify-content: space-evenly;
    padding-right: 11px;
    padding-top: 5px;
    
    
    
   
   
    
    
    
   

}
.bold-fox{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

#nav-links{
    font-family: 'Lato', sans-serif;
    font-size: 300;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    align-items: center;
    margin-right: 15px;
   
}





#component-1-icons{
    color:white;
  font-size: 25px;
  width: 77px;
  height: 30px;
  word-spacing: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 75px

  
 ;
 
  
    
}

.nav-hover:hover {
    color:#20aa8f;
    height: 100px;
    border-top: #20aa8f solid 5px;
    display: flex;
    align-items: center;
    

}
#component-2{
   width: 100%;
height: 980px;
background: #1a1c27;
opacity: 0.7;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-width: 1700px;
padding-bottom: 125px;

  }



.component-2-main {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 

;
  
}



.main-text{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size:90px;
  color :white;
  
  
 
}
.text-fox {
  color:#03FBCA;
}
.under-text {
  color:white;
  font-size:26.5px;
  
  font-family: 'Lato', sans-serif;
  
  
  

}
.arrow-left {
  font-size: 22px;
  height: 50px;
  width: 50px;
 border:1px solid white ;
 display: flex;
 justify-content: center;
 color :white;
 position:absolute;
 align-items: center;
 position:absolute;
 left : 51px;
 bottom :516px;


}
.arrow-left:hover{
  color: #1a1c27;
  background-color:#03FBCA ;
}


.arrow-right {
 
  font-size: 22px;
  height: 50px;
  width: 50px;
 border:1px solid white ;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 position:absolute;
 right : 50px;
 bottom :516px;
 
}
.arrow-right:hover{
  color: #1a1c27;
  background-color:#03FBCA ;
}

.arrow-down{
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: white;
  position: absolute;
  bottom:19px;
  right: 925px;
}

.component-3{
  height: 650px;
  min-width: 1700px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-right: 485px;
  padding-top: 28px;
}


.font-light{

font-family: 'Lato', sans-serif;
font-weight: normal;
font-size: 14px;
letter-spacing: 0.05em;

text-align: left;
color: #a1b1bc;
margin-bottom: 25px;



}
.component-3-text{
  height: 500px;
  width:32% ;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
font-weight: normal;
font-size: 14px;
letter-spacing: 0.05em;
line-height: 24px;
text-align: left;
color: #a1b1bc;

}
.component-3-body
{
  height: 500px;
  width: 570px;
  

  
}

.component-3-main
{
  width: 75%;
  height: 560px;
}
.component-3-header{
  
font-family: 'Lato', sans-serif;
font-weight: 900;
font-size: 30px;
letter-spacing: 0.1em;
line-height: 40px;
text-align: left;
color: #2c3e50;

  }
  
 
  
 .compnent-3-footer{
  width: 211.07px;
  height: 40px;
  background: #fff;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  
  font-family:'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 36px;
  text-align: center;
  color: #2c3e50;
 }

 .component-4{
   width: 100%;
   height: 360px;
   display: flex;
   justify-content: stretch;
   min-width: 1700px;
   
 }
 .red {

  width: 33.333% ;
  height: 360px;
  background-color: #E36968;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
  padding-top: 75px;
  padding-bottom: 60px;
  padding-left: 80px;
 

 }
.blue{
  height: 360px;
  width: 33.333%;
 background-color: #63D8FF;
 display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
  padding-top: 75px;
  padding-bottom: 60px;
  padding-left: 80px;
}

  .purple{
  height: 360px;
  width: 33.3%;
  background-color: #4E459A;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
  padding-top: 75px;
  padding-bottom: 60px;
  padding-left: 80px;
 
}

.component-4-header{
  font-family: 'Lato', sans-serif;
font-weight: normal;
letter-spacing: 1.1px;
font-size: 16px;
line-height: 19px;
color: #fff;

}

.component-4-main{
  width: 480px;
height: 280px;

font-family: 'Lato', sans-serif;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: left;
color: #fff;



}
.component-4-footer{
  width: 170px;
height: 100px;
border-radius: 5px;
background: rgba(161, 177, 188, 0);
border: 2px solid #fff;
font-family: "Lato Black";
font-weight: normal;
font-size: 15px;
display: flex;
align-items: center;
justify-content: center ;
color: #fff;

}



#component-5
{
  width: 100%;
  height:845px ;
 padding-top: 90px;
 min-width: 1700px;

}

.component-5-main
{
  width: 60%;
  height: 850px;
  
  margin-left: 375px;
  display:flex;
  flex-direction: row;
  position: relative;
 
}
.component-5-main-text{
  display: flex;
 height: 700px;
 width: 570px;
  flex-direction: column;
  line-height: 23.53px;
}

li::before {
  content: url(/images/checkmark.png);
	display: inline-block;
	width: 16px;
	height: 16px;
	
	margin-right: 15px;
	margin-bottom: -2px;
}

li{
  list-style: none;
  line-height: 24.6px;
  
}

#meet{
  margin-top: 25px;
  width: 180px ;
}
.iphone{
  z-index: -20;
  position: absolute;
  right: -40px;
  
  
;
  
  
}
.font-light-2{


font-family: 'Lato', sans-serif;
font-weight: normal;
font-size: 14px;
letter-spacing: 0.05em;

text-align: left;
color: #a1b1bc;
}



hr{
  border: lavender 1px solid;
  
  

}
.list{
  width:375px;
}

.component-6
{
  width: 100%;
  background-color:#222533 ;
  height: 627px;
  position: relative;
justify-content: center;
align-items: center ;
  display:flex;
  min-width: 1700px;

}

.component-6-main{
  width : 1100px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 450px;
  margin-top: 241px;
  margin-right: 443px;
  margin-bottom: 146px;
}
.component-6-header
{
  font-family: 'Lato', sans-serif;
font-weight: normal;
font-size: 30px;
letter-spacing: 0.1em;
line-height: 40px;
text-align: center;
color: #fff;
position: absolute;
top:140px;
margin-right: -19px;


}

.circle{
width: 110px;
height: 110px;
background: white;
border-radius:300px ;
border:7px solid grey;
display: flex;
justify-content: center;
align-items: center;



  

}

.check-mark{
  color:#222533;
  font-size: 27px;
}
.small-line{
  width: 40px;
height: 3px;
background: #21c2f8;
margin-top: 5px;

}
.component-6-body
{
  width:145px;
  height: 240px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-right: ;

}


.component-6-body-text-1
{
  font-family: 'Lato', sans-serif;
font-weight: normal;
font-size: 36px;
letter-spacing: 0.05em;

text-align: center;
color: #fff;

}
.component-6-body-text-2
{
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 20px;
  ;
   
  
  text-align: center;
  color: #fff;

}


.component-7
{
  width: 100%;
  height: 530px;
  min-width: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-7-main-1{
  height:335px ;
  width: 570px;
  display: flex;
  
  
  flex-direction: column ;
  
 
  
}
.box1{
  width: 570px;
  height:38px ;
  background-color: #F5F7F8;
  font-size: 14px;
  font-family: 'Lato', sans-serif; 
  font-weight: bold;
  border:1px solid #E5E5E5  ;
 line-height: 38px;
 margin-top: 10px;
  
}
.box1:hover{
  color: #1ABC9C;
}
.box1:hover + div
{
  
  display: flex;
  flex-direction: row;
  color:#1ABC9C;
  
}
.box2:hover{
  color: #1ABC9C;
}
.box2:hover + div
{
  
  display: flex;
  flex-direction: row;
  
  
}
.box3:hover{
  color: #1ABC9C;
}
.box3:hover + div
{
  
  display: flex;
  flex-direction: row;
  color:#1ABC9C;
  
}
.box2{
  width: 570px;
  height:38px ;
  background-color: #F5F7F8;
  font-size: 14px;
  font-family: 'Lato', sans-serif; 
  font-weight: bold;
  border:1px solid #E5E5E5  ;
 line-height: 38px;
 margin-top: 10px;
  
}
.box3{
  width: 570px;
  height:38px ;
  background-color: #F5F7F8;
  font-size: 14px;
  font-family: 'Lato', sans-serif; 
  font-weight: bold;
  border:1px solid #E5E5E5  ;
 line-height: 38px;
 margin-top: 10px;
  
}
.box-1-end
{
  width: 36px;
  height: 36px;
  border-left:1px solid  #E5E5E5;
  
 font-weight: 300 !important;
  font-size: 16;
  color: gray;
  background-color: white;
  float: right;
  text-align: center;
  line-height: 36px;
 
  
}
.box-2-end
{
  width: 36px;
  height: 36px;
  border-left:1px solid  #E5E5E5;
  
 font-weight: 300 !important;
  font-size: 16;
  color: gray;
  background-color: white;
  float: right;
  text-align: center;
  line-height: 36px;
 
  
}
.box-3-end
{
  width: 36px;
  height: 36px;
  border-left:1px solid  #E5E5E5;
  
 font-weight: 300 !important;
  font-size: 16;
  color: gray;
  background-color: white;
  float: right;
  text-align: center;
  line-height: 36px;
 
  
}
.main-1-header
{
  
  background: transparent;
  font-family:'Lato', sans-serif; 
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-left: 15px;
  
}

.hidden-area
{
  width: 570px;
  height: 122px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:5px ;
  border-left:#E5E5E5 1px solid ;
  border-right:#E5E5E5 1px solid ;
  border-bottom:#E5E5E5 1px solid ;
  display: none;
}
.grey-box
{
  width: 150px;
  height: 80px;
  background-color: #CCCCCC;
  
}
.grey-text
{
  width: 330px;
  height: 80px;
  font-size: 14px;
  font-family:'Lato', sans-serif; 
  font-weight: 400;
  text-align: left;
  margin-left: 10px ;
  margin-right: 20px;
  color: #CCCCCC;
}

.component-7-main-2
{
  height:335px ;
  width: 579px;
  display: flex;
  margin-left: 25px;
  
  flex-direction: column ;
  
}

.disc
{
  font-family:'Lato', sans-serif; 
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1.5px;
  margin-left: 6px;
  
}

.indisc
{
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
  font-size: 14px;
  margin-right: ;
}

.div {
  width: 100%;
  height:  20px;
  background-color: #F7F7F7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 4px;
  margin-left: 5px;
} 
.indiv
{
  width: 80%;
  height:  12px;
  background-color: #1ABC9C;
  border-radius: 8px;
  
}
.indiv-2
{
  width: 90%;
  height:  12px;
  background-color: #1ABC9C;
  border-radius: 10px;
  
}
.indiv-3
{
  width: 65%;
  height:  12px;
  background-color: #1ABC9C;
  border-radius: 10px;
  
}
.indiv-4
{
  width: 80%;
  height:  12px;
  background-color: #1ABC9C;
  border-radius: 10px;
  
}







.component-8 {
  width:100%;
  height:1435px;
  background-color: #F9FAFB;
  min-width: 1700px;
  background-color: red;
}
.component-8-main{
  width: 61% ;
  height:108px ;
  
}
.component-8-header
{

 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.xeader1
{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 40px;
  text-align: left;
  color: #2c3e50;
}
.xeader2{
  font-family:'Lato', sans-serif;
font-weight: 300;
font-size: 18px;
letter-spacing: 0.05em;
line-height: 60px;
text-align: center;
color: #a1b1bc;

}




