@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


#component-1{
    width: 100%;
    height: 100px;
    display: inline-flex;
    flex-direction: row;
    background-color: #222533;
    justify-content: center;
    align-items: center;
    padding-right: 357px;
    padding-left: 355px;
    
    padding-bottom: 12px;
   
    
    min-width: 1500px;
    
    
 

   
   
    
}
#fox-text{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 35.69px;
    margin-left: 14px;
  
    
    


}
#fox {
   
    
    height: 48px;
    width:20%;
    display: inline-flex;
    margin-top: 17px;
    margin-left: 2%;
    
    
    
    
   

}
svg {
    min-width: 40px;
}

#nav-links{
    font-family: 'Lato', sans-serif;
    color: white;
    word-spacing: 45px;
    font-size: 15.86;
    height: 19px;
    width: 80%;
    padding-bottom: 2.5%;
    display: inline-flex;
    justify-content: space-around;
    
    margin-top:18px;
    


}
#component-1-icons{
    color:white;
  font-size: 25px;
  display:flex;
  justify-content: space-between;
  width:7.5%;
  
    
}

#nav-hover:hover {
    color:#20aa8f;

}
#component-2{
   width: 100%;
height: 980px;
background: #1a1c27;
opacity: 0.7;

  }



.component-2-main {

  height: 209px;
  width: 38%;
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 463px;
 
 
  
}


.upper-text {
  height: 120px;
 font-weight: 700;
 
}

.main-text{
  font-family: 'Lato', sans-serif;
  font-size:90px;
  color :white;
 
}
.text-fox {
  color:#03FBCA;
}
.under-text {
  color:white;
  font-size:24px;
 
  height: 89px;
  
 
  font-family: 'Lato', sans-serif;
  
  
  

}
.arrow-left {
  font-size: 22px;
  height: 50px;
  width: 50px;
 border:1px solid white ;
 display: flex;
 justify-content: center;
 color :white;

 align-items: center;




}


.arrow-right {
 
  font-size: 22px;
  height: 50px;
  width: 50px;
 border:1px solid white ;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
}

.arrow-down{
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: white;
}